<div class="container">
    <div class="row">
        <div class="center">
            <ul class="tabs">
                <li class="tab col s6"><a href="#guideline">{{'ADD_GUIDELINE'|translate}}</a></li>
                <li class="tab col s6"><a href="#category">{{'ADD_CATEGORY'|translate}}</a></li>
                <div class="indicator"></div>
            </ul>
        </div>
        <div id="guideline" class="col s12">
            <form action="#">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="guidelinetext" ng-model="addCtrl.guideline.text" class="materialize-textarea"></textarea>
                        <label for="guidelinetext">{{'ADD_GUIDELINE'|translate}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s3">
                        <select id="categoryselect" ng-model="addCtrl.guideline.category">
                            <option value="" disabled selected>{{'ADD_CATEGORYSELECT'|translate}}</option>
                            <option value="1">Category 1</option>
                            <option value="2">Category 2</option>
                            <option value="3">Category 3</option>
                        </select>
                    </div>
                    <div class="input-field col s3">
                        <select id="langselect_guide" ng-model="addCtrl.guideline.lang">
                            <option value="" disabled selected>{{'ADD_LANGSELECT'|translate}}</option>
                            <option value="de">{{'LANG_DE'|translate}}</option>
                            <option value="en">{{'LANG_EN'|translate}}</option>
                            <option value="fr">{{'LANG_FR'|translate}}</option>
                        </select>
                    </div>
                    <div class="input-field col s3">
                        <input type="checkbox" id="check_motd" ng-model="addCtrl.guideline.motd">
                        <label for="check_motd">{{'ADD_MOTD'|translate}}</label>
                    </div>
                    <div class="input-field col s3">
                        <a class="btn-large waves-effect waves-orange" ng-click="addCtrl.saveGuide()">{{'ADD_SAVEBTN'|translate}}</a>
                    </div>
                </div>
            </form>
        </div>
        <div id="category" class="col s12">
            <form action="#">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" ng-model="addCtrl.categorytext" id="categorytext">
                        <label for="categorytext">{{'ADD_CATEGORY'|translate}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4">
                        <select id="langselect_category" ng-model="addCtrl.categorylang">
                            <option value="" disabled selected>{{'ADD_LANGSELECT'|translate}}</option>
                            <option value="de">{{'LANG_DE'|translate}}</option>
                            <option value="en">{{'LANG_EN'|translate}}</option>
                            <option value="fr">{{'LANG_FR'|translate}}</option>
                        </select>
                    </div>
                    <div class="input-field col s4 push-s4">
                        <a class="btn-large waves-effect waves-orange" ng-click="addCtrl.saveCategory()">{{'ADD_SAVEBTN'|translate}}</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>