<header>
    <nav class="top-nav teal">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" data-activates="nav-mobile" class="left button-collapse hide-on-large-only">
                    <i class="material-icons">menu</i>
                </a>
                <a ui-sref="main" class="brand-logo center">refugeeProject</a>
            </div>
        </div>
    </nav>
    <!-- side navbar, is only permanent on large displays small and medium sized displays show a menu icon to slide the navbar in-->
    <ul id="nav-mobile" class="side-nav fixed" style="overflow: auto; transform: translateX(0px);">
        <li class="center brand-logo"><i style="margin-top: 16px;" class="material-icons large">account_circle</i></li>
        <div class="divider"></div>
        <li><a class="waves-effect waves-orange" href="#/login">Login/Register</a></li>
        <li><a class="waves-effect waves-orange" href="#/lang">Language</a></li>
        <li class="no-padding">
            <ul class="collapsible">
                <li><a class="collapsible-header waves-effect waves-orange">Modify</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a class="waves-effect waves-orange" href="#/list">List</a></li>
                            <li><a class="waves-effect waves-orange" href="#/add">Add</a></li>
                            <li><a class="waves-effect waves-orange" href="#/search">Search</a></li>
                        </ul>
                    </div>
                </li>
                <li><a class="waves-effect waves-orange collapsible-header">API</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a class="waves-effect waves-orange" href="/api">/api/</a></li>
                            <li><a class="waves-effect waves-orange" href="/api/v1">/api/v1</a></li>
                            <li><a class="waves-effect waves-orange" href="/api/v1/">/api/v1/guides</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li><a class="waves-effect waves-orange" href="#/doc">Documentation</a></li>
    </ul>
</header>