<header>
    <nav class="top-nav teal">
        <div class="nav-wrapper container">
            <a href="#" data-activates="nav-mobile" class="left button-collapse hide-on-large-only">
                <i class="material-icons">menu</i>
            </a>

            <div class="right">
                <a href="" class="right dropdown-btn" style="margin-left: 16px" data-activates="account_dropdown">
                    <i class="material-icons left">perm_identity</i>{{'HEADER_ACCBTN'|translate}}
                </a>
                <a href="" class="right" ng-click="openLangModal()">
                    <i class="material-icons left">language</i>{{'HEADER_LANGBTN'|translate}}
                </a>
                <!--Dropdown Content-->
                <ul id="account_dropdown" class="dropdown-content">
                    <a id="nav-login-btn" href="" class="btn" ng-class="{disabled:isLoggedIn()}"
                           ng-click="loginBtn()">{{'HEADER_LOGINBTN'|translate}}</a>
                    <a id="nav-setting-btn" href="" class="btn" ng-class="{disabled:!isLoggedIn()}"
                           ng-click="settingsBtn()">{{'HEADER_SETTINGSBTN'|translate}}</a>
                    <li class="divider"></li>
                    <a id="nav-logout-btn" class="btn" ng-class="{disabled:!isLoggedIn()}"
                           ng-click="logoutBtn()">{{'HEADER_LOGOUTBTN'|translate}}</a>
                </ul>
                <!--Language Modal Content-->
                <div id="lang-modal" class="modal">
                    <div class="modal-content">
                        <h4 class="black-text">{{'LANGMODAL_TITLE'|translate}}</h4>
                        <div class="collection">
                            <a class="collection-item" ng-click="chooseLang('de_DE')">
                                <span class="flag-icon flag-icon-de flag-icon-squared"></span>
                                Deutsch
                            </a>
                            <a class="collection-item" ng-click="chooseLang('en_US')">
                                <span class="flag-icon flag-icon-gb flag-icon-squared"></span>
                                English
                            </a>
                            <a class="collection-item" ng-click="chooseLang('fr_FR')">
                                <span class="flag-icon flag-icon-fr flag-icon-squared"></span>
                                Français
                            </a>
                            <a class="collection-item" ng-click="chooseLang('fa_AF')">
                                <span class="flag-icon flag-icon-af flag-icon-squared"></span>
                                فارسی
                            </a>
                            <a class="collection-item" ng-click="chooseLang('ar_SY')">
                                <span class="flag-icon flag-icon-sy flag-icon-squared"></span>
                                العربية
                            </a>
                            <a class="collection-item" ng-click="chooseLang('tr_TR')">
                                <span class="flag-icon flag-icon-tr flag-icon-squared "></span>
                                Türkçe
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- side navbar, is only permanent on large displays small and medium sized displays show a menu icon to slide the navbar in-->
    <ul id="nav-mobile" class="side-nav fixed" style="overflow: auto; transform: translateX(0px);">
        <li class="center teal nav-header">
            <h4 class="center white-text header-title">Refugees Gießen</h4>
            <img class="header-icon" src="public/res/icon.png" />
        </li>
        <div class="divider"></div>
        <div id="nav-items" class="white">
            <li><a class="waves-effect waves-orange" href="#/dashboard">{{'NAVBAR_DASHBTN'|translate}}</a></li>
            <li><a class="waves-effect waves-orange" href="#/list">{{'NAVBAR_LISTBTN'|translate}}</a></li>
            <li class="no-padding">
                <ul class="collapsible">
                    <li><a class="waves-effect waves-orange collapsible-header">{{'NAVBAR_APIBTN'|translate}}</a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a class="waves-effect waves-orange" href="/api">/api/</a></li>
                                <li><a class="waves-effect waves-orange" href="/api/v1">/api/v1</a></li>
                                <li><a class="waves-effect waves-orange" href="/api/v1/guides">/api/v1/guides</a></li>
                                <li><a class="waves-effect waves-orange" href="/api/v1/categories">/api/v1/categories</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li><a class="waves-effect waves-orange" href="#/doc">{{'NAVBAR_DOCBTN'|translate}}</a></li>
        </div>
    </ul>
</header>
