<header>
    <nav class="top-nav teal">
        <div class="nav-wrapper">
            <a href="#" data-activates="nav-mobile" class="left button-collapse hide-on-large-only">
                <i class="material-icons">menu</i>
            </a>
            <div class="center">

            </div>
            <div style="margin-right: 16px">
                <a href="" class="right dropdown-btn" style="margin-left: 16px" data-activates="account_dropdown">
                    <i class="material-icons left">perm_identity</i>{{'HEADER_ACCBTN'|translate}}
                </a>
                <a href="" class="right" ng-click="openLangModal()">
                    <i class="material-icons left">language</i>{{'HEADER_LANGBTN'|translate}}
                </a>
                <!--Dropdown Content-->
                <ul id="account_dropdown" class="dropdown-content">
                    <li><a id="nav-login-btn" href="" class="btn-block" ng-class="{disabled:isLoggedIn()}"
                           ng-click="loginBtn()">{{'HEADER_LOGINBTN'|translate}}</a></li>
                    <li><a id="nav-setting-btn" href="" class="btn-block" ng-class="{disabled:!isLoggedIn()}"
                           ng-click="settingsBtn()">{{'HEADER_SETTINGSBTN'|translate}}</a></li>
                    <li class="divider"></li>
                    <li><a id="nav-logout-btn" class="btn-block" ng-class="{disabled:!isLoggedIn()}"
                           ng-click="logoutBtn()">{{'HEADER_LOGOUTBTN'|translate}}</a></li>
                </ul>
                <!--Language Modal Content-->
                <div id="lang-modal" class="modal">
                    <div class="modal-content">
                        <h4 class="black-text">Choose a language</h4>
                        <div class="collection">
                            <a class="collection-item" ng-click="chooseLang('de_DE')">{{'LANG_DE'|translate}}</a>
                            <a class="collection-item" ng-click="chooseLang('en_US')">{{'LANG_EN'|translate}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- side navbar, is only permanent on large displays small and medium sized displays show a menu icon to slide the navbar in-->
    <ul id="nav-mobile" class="side-nav fixed" style="overflow: auto; transform: translateX(0px);">
        <li class="center brand-logo">
            <h4 class="center">Refugees Gießen</h4>
            <i style="margin-top: 16px;" class="material-icons large">account_circle</i>
        </li>
        <div class="divider"></div>
        <li class="no-padding">
            <ul class="collapsible">
                <li><a class="collapsible-header waves-effect waves-orange" ng-class="{disabled:!isLoggedIn()}">{{'NAVBAR_CONTENTBTN'|translate}}</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a class="waves-effect waves-orange" href="#/add">{{'NAVBAR_ADDBTN'|translate}}</a></li>
                            <li><a class="waves-effect waves-orange" href="#/list">{{'NAVBAR_LISTBTN'|translate}}</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li><a class="waves-effect waves-orange collapsible-header">{{'NAVBAR_APIBTN'|translate}}</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a class="waves-effect waves-orange" href="/api">/api/</a></li>
                            <li><a class="waves-effect waves-orange" href="/api/v1">/api/v1</a></li>
                            <li><a class="waves-effect waves-orange" href="/api/v1/">/api/v1/guides</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li><a class="waves-effect waves-orange" href="#/doc">{{'NAVBAR_DOCBTN'|translate}}</a></li>
    </ul>
</header>