<div class="container">
    <ul class="collection with-header">
        <li class="collection-header teal white-text">{{'CATEGORIES'|translate}}</li>
        <div ng-repeat="category in categories">
            <a class="collection-item" href="#/list/{{category._id}}">
                {{category.text[lang]||"(This Category is not yet available in your language)"}}
            </a>
        </div>
    </ul>
    <div class="row" ng-hide="loadedData">
        <div class="center">
            <div class="preloader-wrapper active">
                <div class="spinner-layer spinner-yellow-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>