<div class="container">
    <ul class="collection with-header">
        <li class="collection-header teal white-text"><h5>{{'CATEGORIES'|translate}}</h5></li>
        <div ng-repeat="category in categories">
            <a class="collection-item" href="#/list/{{category._id}}">
                {{category.text[lang]||'NOT_TRANSLATED'|translate}}
            </a>
        </div>
    </ul>
    <div id="category-modal" class="modal">
        <div class="modal-content"></div>
        <div class="modal-footer"></div>
    </div>
    <div class="row" ng-hide="loadedData">
        <div class="center">
            <div class="preloader-wrapper active">
                <div class="spinner-layer spinner-yellow-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>