<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../../public/css/materialize.min.css" media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{{title}}</title>
</head>
<body>
<header>
    <nav class="teal">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo left">refugeeProject</a>
            <ul class="right">
                <li><a href="/"><i class="material-icons left">language</i>Language</a></li>
                <li><a href="/"><i class="material-icons left">account_circle</i>LogIn</a></li>
            </ul>
        </div>
    </nav>
</header>

<main>
    <div class="container">
{{{body}}}
    </div>
</main>
<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <p class="grey-text text-lighten-4">Dies ist ein Projekt des OK Lab Gießen.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="/">About</a></li>
                    <li><a class="grey-text text-lighten-3" href="/">Impressum</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright left">
        &copy; Copyright 2016
    </div>
</footer>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../../public/js/materialize.min.js"></script>
</body>
</html>
