<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/public/css/materialize.min.css" media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{{title}}</title>
</head>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/public/js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $(".button-collapse").sideNav();
    });
</script>
<body>
<header>
    <nav class="teal">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" data-activates="nav-mobile" class="left button-collapse hide-on-large-only">
                    <i class="material-icons">menu</i>
                </a>
                <a href="/" class="brand-logo center">refugeeProject</a>
            </div>
        </div>
    </nav>
    <!-- side navbar, is only permanent on large displays small and medium sized displays show a menu icon to slide the navbar in and out -->
    <ul id="nav-mobile" class="side-nav fixed" style="overflow: auto; transform: translateX(0px);">
        <li class="center brand-logo"><i style="margin-top: 16px;" class="material-icons large">account_circle</i></li>
        <div class="divider"></div>
        <li><a href="/">Login</a></li>
        <li><a href="/">Language</a></li>
        <li><a href="/api/">API</a></li>
        <li><a href="/">Documentation</a></li>
    </ul>
</header>

<main>
    <div class="row">
        <div class="col s12 m12 l10 push-l2">
            <div class="container">{{{body}}}</div>
        </div>
    </div>
</main>
<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l4 push-l2 m6 s12">
                <p class="grey-text text-lighten-4">Dies ist ein Projekt des OK Lab Gießen.</p>
            </div>
            <div class="col l2 offset-l2 push-l2 m4 offset-m2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="/">About</a></li>
                    <li><a class="grey-text text-lighten-3" href="/">Impressum</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright right">
        &copy; Copyright 2016
    </div>
</footer>
</body>
</html>
