<div class="row">
    <div class="col s12">
        <h1>Willkommen.</h1>
    </div>
</div>
<div class="row">
    <div class="col s4">
        <span class="flow-text">Diese Seite dient dazu, die Inhalte der dazugehörigen App zu erstellen, bearbeiten und löschen.</span>
    </div>
    <div class="col s4">
        <span class="flow-text">Alle Texte können hier in unterschiedlichen Sprachen erstellt und übersetzt werden.</span>
    </div>
    <div class="col s4">
        <span class="flow-text">Zusätzlich können Statistiken angezeigt werden.</span>
    </div>
</div>